.paddingdivs{
  padding: 10px;
}

.midText{font-size: 15px}
.smallText{font-size: 13px}
img{cursor: pointer;}

.hidden{ display: none }
.visible{ display: inline }
.bold{font-weight: bold;}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }


.altoFijo{ padding: 0px 0px; line-height: 10px; width: 100%; }