.corregido {
    color : green !important;
}

.file {
    font-size: 3em;
    cursor: pointer;
}

.nocorregido {
    color: '#ff8383' !important;
}

.fa-file-text {
    color: '#ff8383' !important;
}
.selected {
    color : #1522d3 !important;
}

.gray {
    color : gray !important;
}