<div class="login-page" style="background: #004869;">
    <div class="row">
        <div class="col-md-4 push-md-4" style="padding: 55px 35px;background: rgba(255,255,255,0.15);border-radius: 8px;">
            <h1>MateFun</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]=model.cedula  name="cedula" class="form-control input-underline input-lg"  placeholder="Usuario">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]=model.password (keyup.enter)=login() name="password" class="form-control input-underline input-lg"  placeholder="Contraseña">
                    </div>
                    
                </div>

                <a class="btn rounded-btn" style="background: transparent;color: white;cursor: pointer;width: 159px;margin-right: 3px;" (click)=login()> Iniciar Sesión </a>
                <a class="btn rounded-btn" style="background: transparent;color: white;cursor: pointer;width: 159px;margin-left: 3px;" (click)=invitado()> Invitado </a>
                &nbsp;
                <div class="loading" *ngIf="loading">
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                    <div class="loading-bar"></div>
                </div>
                <div class="login-error" *ngIf="error && !loading">
                    <ngb-alert [dismissible]="false" [type]="'danger'">
                        <strong>Error!</strong> {{errorText}}.
                    </ngb-alert>
                </div>
            </form>
        </div>
    </div>
</div>
