

<div style="height: 70px;" class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="{{alertStatus}} alert alert-{{alertType}}" role="alert">
			{{alertText}}
		</div>
	</div>
	<div class="col-md-2"></div>
</div>


<div class="row">
	<div class="col-md-2">
		
	</div>
	<div class="col-md-4">

		<div style="border: 1px solid #B8B8B8; border-radius: 5px;" class="paddingdivs">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8"><h5>Crear un nuevo curso</h5></div>
				<div class="col-md-2"></div>
			</div>
			<div class="row paddingdivs	">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<label for="fullname" class="form-control-label">Nombre completo</label>
					<input type="text" class="form-control" id="fullname" [(ngModel)]="nombrecompleto" [ngModelOptions]="{standalone: true}" />
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row paddingdivs	">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<label for="shortname" class="form-control-label">Nombre corto</label>
					<input type="text" class="form-control" id="shortname" [(ngModel)]="nombrecorto" [ngModelOptions]="{standalone: true}"/>
				</div>
				<div class="col-md-5">
					<label for="summary" class="form-control-label">Formato</label>
					<select name="formatocurso" class="form-control form-control-sm" [(ngModel)]="formato" [ngModelOptions]="{standalone: true}">
						<option value="singleactivity">Actividad unica</option>
						<option value="social">Social</option>
						<option value="topics" selected="">Topics</option>
						<option value="weeks">Semanal</option>
					</select>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row paddingdivs	">
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<label class="form-control-label" for="fechainicio">Fecha inicio</label>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="dd-mm-aaaa" name="dp" id="fechainicio" [(ngModel)]="fechainicio" ngbDatepicker #dinicio="ngbDatepicker">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="dinicio.toggle()" type="button">
									<img width=20 src="assets/img/calendario.png" alt="&#128197;">
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<label for="horainicio" class="form-control-label">Hora Inicio</label>
					<input type="text" class="form-control" id="horainicio" [(ngModel)]="horainicio" [ngModelOptions]="{standalone: true}" />
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row paddingdivs	">
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<label class="form-control-label" for="fechainicio">Fecha fin</label>
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" placeholder="dd-mm-aaaa" name="dp" id="fechafin" [(ngModel)]="fechafin" ngbDatepicker #dfin="ngbDatepicker">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary calendar" (click)="dfin.toggle()" type="button">
									<img width=20 src="assets/img/calendario.png" alt="&#128197;">
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<label for="horafin" class="form-control-label">Hora Fin</label>
					<input type="text" class="form-control" id="horafin" [(ngModel)]="horafin" [ngModelOptions]="{standalone: true}" />
				</div>
				<div class="col-md-1"></div>
			</div>
			
			<div class="row paddingdivs	">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<label for="summary" class="form-control-label">Descripcion del curso</label>
					<textarea rows="4" cols="50" class="form-control" id="summary" [(ngModel)]="descripcion" [ngModelOptions]="{standalone: true}"></textarea>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row paddingdivs	">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<label for="cantsecciones" class="form-control-label">#secciones</label>
					<input type="text" class="form-control" id="cantsecciones" [(ngModel)]="cantsecciones" [ngModelOptions]="{standalone: true}" />
				</div>
				<div class="col-md-7">
					<label for="docente" class="form-control-label">Docente</label>
					<select name="docente" class="form-control form-control-sm" [(ngModel)]="docenteSeleccionado" [ngModelOptions]="{standalone: true}">
						<option *ngFor="let docente of listaDocentes" value="{{docente.id}}">{{docente.fullname}} {{ docente.email==='no-email' ? '' : '(' + docente.email + ')' }} </option>
					</select>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row">
				<div class="col-md-8"></div>
				<div style="display:inline-block; vertical-align: middle;" class="col-md-4">
					<button type="button" class="btn btn-success" (click)="crearCurso()">Crear curso</button>
					<img *ngIf="creandoCurso" width=40 src="assets/img/btnloading.gif" alt="A">
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">		
		<div style="border: 1px solid #B8B8B8; border-radius: 5px;" class="paddingdivs">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8"><h5>Eliminar un curso existente</h5></div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				  <div class="col-md-1"></div>
				  <div class="form-group col-md-10">
				    <label class="form-control-label" for="selectmaterias">Seleccione curso</label>
					<select name="cursoparaeliminar" class="form-control form-control-sm" [(ngModel)]="cursoparaeliminar" [ngModelOptions]="{standalone: true}">
						<option *ngFor="let curso of listaCursoEliminar" value="{{curso.id}}">{{curso.fullname}}</option>
					</select>
				  </div>
				  <div class="col-md-1"></div>
			</div>
			<div class="row">
				<div class="col-md-8"></div>
					<div style="display:inline-block; vertical-align: middle;" class="col-md-4">
						<button type="button" class="btn btn-danger" (click)="deleteCourse()">Eliminar</button>
						<img *ngIf="eliminandoCurso" width=40 src="assets/img/btnloading.gif" alt="A">
					</div>
			</div>
		</div>
	</div>

	<div class="col-md-2"></div>

</div>